<ol class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Loyalty & Gift cards</a></li>
    <li class="active">Web Services</li>
</ol>
<div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Guides</a></li>
        <li role="presentation"><a href="#">Reference</a></li>
    </ul>
    <div class="col-md-2 col-sm-3">
        <ul class="nav">
            <li class="active">
                <strong>Getting Started<strong>
                <ul class="nav">
                    <li class="active"><a href="#">Overview</a></li>
                    <li><a href="#">Authentication</a></li>
                </ul>
            </li>
            <li>
                <strong>Giift Card<strong>
                <ul class="nav">
                    <li><a href="#">Buying</a></li>
                    <li><a href="#">Reedeming</a></li>
                    <li><a href="#">Topup</a></li>
                    <li><a href="#">Query a card information</a></li>
                </ul>
            </li>
            <li>
                <strong>Loyalty Program<strong>
                <ul class="nav">
                    <li><a href="#">Initialize a new program</a></li>
                    <li><a href="#">Give points</a></li>
                    <li><a href="#">Reedem points</a></li>
                    <li><a href="#">Query a card information</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-10 col-sm-9">
        <h1>Overview</h1>
    </div>
</div>
